{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": "last 2 versions, > 1%"
            }
        ],
        "@babel/preset-react",
        "@babel/preset-typescript"
    ]
}